params {
    // copy output out for all steps or not
    // See: https://www.nextflow.io/docs/latest/process.html
    publish_dir_mode = 'copy'


    // DNAseq or scRNAseq
    mode = "scRNAseq"

    // generic
    publish_dir = "${projectDir}/output"
    clone_barcodes_reference = "${projectDir}/data/known_barcodes_subset.txt"
    barcode_edit_distance = 2
    n_chunks = 2
    barcode_length = 20
    // mapping may need long time, so use either long_mapping or regular_mapping
    mapping_process_profile = "regular_mapping"
    

    // for DNA-seq data
    dnaseq_fastq_files = "${projectDir}/data/dnaseq_fastq_files"
    fastp_percent_bases_unqualified = 20
    fastp_phred_for_qualified_reads = 30

    // for clonmapper single cell data
    // change me if required
    scrnaseq_bam_files = "${projectDir}/data/scrnaseq_bam_files"
    phred_thres = 30
    adapter_edit_distance = 6
    adapter_5prime = "ATCTTGTGGAAAGGACGAAACACCG"
    adapter_3prime = "GTTTCAGAGCTATGCTGGAAACAGC"
}

conda {
    enabled = true
    useMamba = false
    useMicromamba = false
    createOptions = '--yes'
}

nextflow {
    enable.dsl = 2
}

// Profiles for the processes.
process {

    executor = 'slurm'

    publishDir  = [
        mode: params.publish_dir_mode,
        path: params.publish_dir
    ]

    // Process-specific resource requirements
    // See https://www.nextflow.io/docs/latest/config.html#config-process-selectors
    withLabel: medium {
        cpus = 8
        memory = 8.GB
        time = 2.h
    }

    withLabel: small {
        cpus = 4
        memory = 8.GB
        time = 2.h
    }

    // If the mapping require a long time, depending on the chunk size.
    withLabel: long_mapping {
        cpus = 2
        memory = 8.GB
        time = 96.h
        queue = 'long'
    }

    withLabel: regular_mapping {
        cpus = 4
        memory = 10.GB
        time = 48.h
        queue = 'regular'
    }

    withLabel: medium_mem {
        cpus = 12
        memory = 32.GB
        time = 24.h
    }

    withLabel: small_mem {
        cpus = 4
        memory = 24.GB
        time = 4.h
    }


}
