nextflow {
    enable.dsl = 2
}

params {
    // NGS or scRNAseq
    mode = "NGS"

    // generic
    publish_dir = "${projectDir}/output"
    clone_barcodes_reference = "${projectDir}/data/known_barcodes_subset.txt"
    nreads_per_chunk = 1000000
    barcode_edit_distance = 2
    

    // for NGS data
    ngs_fastq_files = "${projectDir}/data/ngs_fastq_files"
    trim_reads_to = 20
    fastp_percent_bases_unqualified = 20
    fastp_phred_for_qualified_reads = 30

    // for clonmapper single cell data
    // change me if required
    scrnaseq_bam_files = "${projectDir}/data/scrnaseq_bam_files"
    phred_thres = 30
    adapter_edit_distance = 6
    adapter_5prime_clonmapper = "ATCTTGTGGAAAGGACGAAACACCG"
    adapter_3prime_clonmapper = "GTTTCAGAGCTATGCTGGAAACAGC"
}