conda {
    useMamba = false
    useMicromamba = false
    createOptions = '--yes'
}

nextflow {
    enable.dsl = 2
}

params {
    // copy output out for all steps or not
    // See: https://www.nextflow.io/docs/latest/process.html
    publish_dir_mode = 'copy'


    // DNAseq or scRNAseq
    mode = "scRNAseq"

    // generic
    publish_dir = "${projectDir}/output"
    clone_barcodes_reference = "${projectDir}/data/known_barcodes_subset.txt"
    barcode_edit_distance = 2
    n_chunks = 2
    barcode_length = 20
    // mapping may need long time, so use either long_mapping or regular_mapping
    mapping_process_profile = "regular_mapping"
    

    // for DNA-seq data
    dnaseq_fastq_files = "${projectDir}/data/dnaseq_fastq_files"
    fastp_percent_bases_unqualified = 20
    fastp_phred_for_qualified_reads = 30

    // for clonmapper single cell data
    // change me if required
    scrnaseq_bam_files = "${projectDir}/data/scrnaseq_bam_files"
    phred_thres = 30
    adapter_edit_distance = 6
    adapter_5prime = "ATCTTGTGGAAAGGACGAAACACCG"
    adapter_3prime = "GTTTCAGAGCTATGCTGGAAACAGC"
}

// Load base.config by default for all pipelines
includeConfig 'conf/base.config'