process {
    publishDir  = [
        mode: params.publish_dir_mode,
        path: params.publish_dir
    ]

    // Process-specific resource requirements
    // See https://www.nextflow.io/docs/latest/config.html#config-process-selectors
    withLabel: medium {
        cpus = 8
        memory = 8.GB
        time = 2.h
    }

    withLabel: small {
        cpus = 4
        memory = 8.GB
        time = 2.h
    }

    // If the mapping require a long time, depending on the chunk size.
    withLabel: long_mapping {
        cpus = 2
        memory = 8.GB
        time = 96.h
        queue = 'long'
    }

    withLabel: regular_mapping {
        cpus = 4
        memory = 10.GB
        time = 48.h
        queue = 'regular'
    }

    withLabel: medium_mem {
        cpus = 12
        memory = 32.GB
        time = 24.h
    }

    withLabel: small_mem {
        cpus = 4
        memory = 24.GB
        time = 4.h
    }


}